<script type="text/javascript">
  <% if current_user %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>

  <% end %>


  window.staticImages = {
    hazard: '<%= asset_url("hazard.png") %>',
    logo: '<%= asset_url("thunk_logo.png") %>',
    member_avatar: '<%= asset_url("leafonly.png") %>'
  }
</script>

<main id="root"></main>
