.channel_header {
  display: flex;
  margin-top: 25px;
  padding-left: 15px;
  font-size: 16px;
  display: inline;
  // margin-bottom: 25px;
  position: relative;
}

.channel_header:hover {
  font-size: 16px;
  color: #fff;
}

.sidebar_list {
  display: flex;
  flex-direction: column;
}

button.add_channel_button:hover {
  color: #fff;
  border-color: #fff;
  cursor: pointer;
}

// button.add_channel_button {
//   display: block;
//     border: 2px solid white;
//     border-radius: 50%;
//     height: 20px;
//     width: 20px;
// }
//
// .cssCircle {
//   position: absolute;
//     top: -7px;
//     left: 2px;
// }
button.add_channel_button:focus {
  outline: 0;
}

button.add_channel_button {
  margin-top: 5px;
  margin-right: 5px;
  // height: 15px;
  float: right;
  // right: 0;
  // bottom: 0;

  justify-content: center;

  color: #ab9ba9;
  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  behavior: url(PIE.htc);

  width: 16px;
  height: 16px;
  padding: 0px;
  // padding-bottom: 1px;

  background: none;
  border: 1.5px solid #ab9ba9;
  // color: #003580;
  text-align: center;
  -webkit-transition: background 0.1s linear;
  -moz-transition: background 0.1s linear;
  -ms-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
  transition: color 0.2s linear;

  line-height: 1.1rem;
  // font-size: 20px;
  //   font-style: normal;
  //   font-weight: normal;
  //   display: inline-block;
  //   vertical-align: middle;
  //   width: 20px;
  //   opacity: 0.64;
  //   line-height: 100%;
  font: 13px Arial, sans-serif
}

.cssCircle {
  // margin-bottom: 10px;
  // font-weight: bold;
}
//
// .cssCircle {
//   margin-bottom: 5px;
//   // -webkit-border-radius: 999px;
//   // -moz-border-radius: 999px;
//   // border-radius: 999px;
//   // behavior: url(PIE.htc);
//   //
//   // width: 13px;
//   // height: 13px;
//   // padding: 0px;
//   //
//   // background: #779BCA;
//   // border: 1px solid #003580;
//   // color: #003580;
//   // text-align: center;
//   // -webkit-transition: background 0.2s linear;
//   // -moz-transition: background 0.2s linear;
//   // -ms-transition: background 0.2s linear;
//   // -o-transition: background 0.2s linear;
//   // transition: background 0.2s linear;
//   // transition: color 0.2s linear;
//   //
//   // font: 13px Arial, sans-serif
// }

.channel_list {

}

.channel_hash {
  color: #cac4c9;
  display: inline;
  margin-right: 5px;
  margin-left: 15px;
  bottom: 0;
}

.channel_list_item {
  text-decoration: none;
  font-size: 16px;
  color: #cac4c9;
  // font-weight: 900;
  padding-left: 0;
  width: 100%;
  display:block;
  margin-bottom: 5px;
}

.channel_list_item:hover {
  background: #3E313C;
  width: 100%;
  padding-left: 0;
}

.channel_list_item.active {
  background-color: #4C9689;
  // font-weight: normal;
  color: #fff;
}
