.channel_header {
  display: flex;
  margin-top: 25px;
  padding-left: 15px;
  font-size: 16px;
  position: relative;
}

.channel_header_inner > button {
  float: right;
  margin-left: 122px;
  margin-top: 5px;
}

.channel_header:hover {
  color: #fff;
}

.sidebar_list {
  display: flex;
  flex-direction: column;
}

button.delete_circle {
  height: 16px;
  width: 16px;
  border: 1px solid #ab9ba9;
  border-radius: 50%;
}

button.add_channel_button:hover {
  color: #fff;
  border-color: #fff;
  cursor: pointer;
}

button.add_channel_button:focus {
  outline: 0;
}

.circle_letter {
  text-align: center;
  vertical-align: middle;
  line-height: 16px;
  margin-bottom: 5px;
}

.cssCircle {
  text-align: center;
  vertical-align: middle;
  line-height: 16px;
}

button.add_channel_button {
  float: right;
  margin-right: 5px;

  justify-content:center;

  color: #ab9ba9;
  border-radius: 50%;

  width: 16px;
  height: 16px;
  padding: 0;
  padding-bottom: 5px;

  background: none;
  border: 1.5px solid #ab9ba9;
  text-align: center;
  transition: background 0.1s linear;
  transition: color 0.2s linear;

  line-height: 1.1rem;

  font: 13px Arial, sans-serif;
  top: 0;
}

button.delete_channel_button:hover {
  color: #fff;
  border-color: #fff;
  cursor: pointer;
}

button.delete_channel_button:focus {
  outline: 0;
}

button.delete_channel_button {


  margin-right: 5px;

  color: #ab9ba9;
  border-radius: 50%;

  width: 16px;
  height: 16px;
  padding: 0;
  padding-bottom: 5px;

  background: none;
  border: 1.5px solid #ab9ba9;
  text-align: center;
  transition: background 0.1s linear;
  transition: color 0.2s linear;

  line-height: 1.1rem;
  font: 13px Arial, sans-serif
}


li.li_list_item {
  display: flex;
  justify-content: center;
}



.channel_hash {
  color: #cac4c9;
  display: inline;
  margin-right: 5px;
  margin-left: 15px;
  bottom: 0;
}

.channel_title {
  text-decoration: none;
  font-size: 16px;
  padding-left: 0;
  width: 100%;
}

.channel_title.active {
  color: #fff;
}

.channel_list_item {
  text-decoration: none;
  font-size: 16px;
  color: #cac4c9;
  padding-left: 0;
  width: 100%;
  display:flex;
  justify-content: flex-end;
}

.channel_list_item:hover {
  background: #3E313C;
  width: 100%;
  padding-left: 0;
}

.channel_list_item.active {
  background-color: #4C9689;
  color: #fff;
}
