.chatroom_page {
  height: 100vh;
  display: flex;
  background-color: #fff;
}

.chat_container {
  width: 88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatroom_header {
  max-height: 64px;

  z-index: 1;
  background-color: #fff;
  position:fixed;
  top: 0;
  float: left;
  height: 64px;
  width: 88%;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: inset 1px 0 0 0 #e8e8e8;
}

.header_channel {
  float: left;
  color: black;
  font-weight: 900;
  font-size: 18px;
  margin-top: 0.5rem;
  margin-left: 2rem;
}

.message_footer_container {
  position: fixed;
  bottom: 0;
  width: 88%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.message_footer_container {
  border-color: #717274;
}

.message_add_file:focus {
  border-color: #717274;
}

.message_add_file {

  font-size: 1.25rem;
  line-height: normal;
  padding: .75rem;
  border-radius: .4rem;
  outline: 0;
  color: #2c2d30;
  max-width: 100%;
  margin: 0 0 .5rem;
  font-variant-ligatures: none;
  transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
  box-shadow: none;
  height: auto;
  background-color: #fff;
  color: #a0a0a2;
  width: 3%;
  min-width: 49px;
  border: 2px solid rgba(160,160,162,.7);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.message_add_file:hover {
  background-color: #56b68b;
  color: #fff;
}

footer > input.message_box {
  border-radius: .4rem;
  width: 95%;
  border: 2px solid rgba(160,160,162,.7);
  border-left: 1px solid rgba(160,160,162,.7);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer > input.message_box:focus {
  border-color: #717274;
}



.chatlog_container {
  position: relative;
  margin-top: 64px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin-bottom: 60px;
}

.chatlog {
  bottom: 0;
  margin-top:0;
}
