.chatroom_page {
  height: 100vh;
  display: flex;
  background-color: #fff;
}

.chat_container {
  width: 88%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatroom_header {
  z-index: 1;
  background-color: #fff;
  position:fixed;
  top: 0;
  height: 10%;
  width: 88%;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  box-shadow: inset 1px 0 0 0 #e8e8e8;
}

.message_footer_container {
  position: fixed;
  bottom: 0;
  width: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message_add_file {
  font-size: 1.25rem;
  line-height: normal;
  padding: .75rem;
  border: 1px solid #a0a0a2;
  border-radius: .25rem;
  outline: 0;
  color: #2c2d30;
  max-width: 100%;
  margin: 0 0 .5rem;
  font-variant-ligatures: none;
  transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
  box-shadow: none;
  height: auto;
  background-color: #fff;
  color: #a0a0a2;
  width: 3%;
}

.message_add_file:hover {
  background-color: #56b68b;
  color: #fff;
}

.message_box {
  width: 95%;
}


.chatlog_container {
  position: relative;
  margin-top: 3%;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin-bottom: 4%;
}

.chatlog {
  bottom: 0;
}
