.message_container {
  margin: 0 0 1rem 1.25rem;
  display: flex;
  position: relative;
  height: 100%;
}

// flex children min width
// otherwise resize

.message_data_container {
  width: 95%;
}

.message_container p {
  margin-bottom: 0;
  padding-left: .5rem;
}

.message_container:hover {
  background-color: #f9f9f9;
}

.message_avatar_container {
  width: 3%;
  height: 100%;
  margin-right: .5rem;
  min-width: 48px;
}

.member_avatar {
  width: 36px;
  height: 36px;
}

p.message_content {
  font-size: 15px;
}

p.message_username {
  font-weight: bold;
  font-size: 15px;
}

p.message_time {
  color: #717274;
  opacity: 1;
  font-size: 12px;
}

.message_header p{
  display: inline;
  padding-right: .5rem;
}
