.sidebar_container {
  width: 12%;
  display: inline-block;
  background-color: #4D394B;
  left: 0;
  color: rgb(202,196,201);
  z-index: 2;
  min-width: 222px
}

.sidebar_header {
  top: 0;
  color: inherit;

}


.sidebar_scroll {
  border: 1px solid red;
}



.welcome_header {
  margin-left: 1rem;
  margin-top: 1rem;
  color: #ab9ba9;
}

.welcome_header:hover {
  color: #fff;
}

.logout_btn {

}
