.sidebar_container {
  width: 12%;
  display: flex;
  background-color: #4D394B;
  left: 0;
  color: rgb(202,196,201);
  z-index: 2;
  min-width: 222px;
  flex-direction: column;
  overflow-y: auto;
  // transition: overflow-y 5s ease;
}

// .sidebar_container:hover {
//   // overflow-y: scroll;
// }

// .scroll_track {
//   display: inline;
//   height: 100%;
// }

.sidebar_header {
  top: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  margin-left: 1rem;
  margin-top: 1rem;
}

.sidebar_header_nest {
  height: 10%;
}

.sidebar_list {
  height: 90%;
}

.welcome_header {
  font-size: .875rem;
  color: #ab9ba9;
  font-weight: normal;
  opacity: 1;
}

.welcome_header:hover {
  color: #fff;
}

.logout_button {
  background: #4C9689;
  color: #cac4c9;
  width: 75px;
  font-size: 14px;
  font-weight: 900;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
  line-height: 1.2rem;
  user-select: none;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: .25rem;
  box-shadow: none;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  white-space: nowrap;
  margin: .5rem 0 0 0;
  padding: 4px 13px 2px;
}

.logout_button:hover {
  background: #4C9689;
  color: #fff;
  box-shadow: inset 0 -2px rgba(0,0,0,.25);
}
