.sidebar_container {
  width: 12%;
  display: flex;
  background-color: #4D394B;
  left: 0;
  color: rgb(202,196,201);
  z-index: 2;
  min-width: 222px;
  flex-direction: column;
  overflow-y: auto;
  // transition: overflow-y 5s ease;
}

// .sidebar_container:hover {
//   // overflow-y: scroll;
// }

// .scroll_track {
//   display: inline;
//   height: 100%;
// }

.sidebar_header {
  top: 0;
  color: #fff;
  font-size: 20px;
  font-weight: 900;
  margin-left: 1rem;
  margin-top: 1rem;
}

.sidebar_header_nest {
  height: 10%;
}

.sidebar_list {
  height: 90%;
}

.welcome_header {
  font-size: .875rem;
  color: #ab9ba9;
  font-weight: normal;
  opacity: 1;
}

.welcome_header:hover {
  color: #fff;
}

.logout_btn {

}
