div .sidebar_header {
  background-color: #4D394B;
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow-x: hidden;
}


.sidebar_scroll {
  height: 100%
  width: 100%
  display: inline;
}
.welcome_header {
}

.logout_btn {

}
